label,
input,
textarea {
    resize: none;
}

input,
textarea {
    padding: 5px 0px;
    border: none;
    border-bottom: 2px solid var(--main-blue);
    background: var(--main-white);
}

label {
    margin: 5px 0px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 0px;
}

.nameAndEmailContainer {
    display: flex;
}

.nameAndEmailContainer > * {
    flex: 1 0 auto;
}

.button {
    background: var(--main-red);
    color: var(--main-white);
    padding: 10px 40px;
    opacity: 1;
    margin: 3.3rem 0px;
    border-radius: 40px;
    border: 2px solid var(--main-red);
    transition: 0.3s all;
}
.button:hover {
    color: var(--main-red);
    background: var(--main-white);
}
.buttonContainer {
    text-align: center;
}

@media (max-width: 550px) {
    .nameAndEmailContainer {
        flex-direction: column;
    }
    .inputContainer {
        margin: 20px 0px;
    }
}
