.tile {
    max-width: 32%;
    box-shadow: 0px 0px 8px var(--main-blue);
    padding: 0 1.5rem;
    border-radius: 5px;
    margin: 1.3rem 0px;
}

.title {
    color: var(--main-blue);
}

.publication {
    font-style: italic;
    color: var(--main-red);
}

@media (max-width: 700px) {
    .tile {
        max-width: 48%;
    }
}

@media (max-width: 450px) {
    .tile {
        max-width: 100%;
    }
}
