.header {
    background: var(--main-red);
    padding: 1rem 0px;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.header h1 {
    margin: 0;
    font-size: 3.5rem;
}

.header h1 a {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    opacity: 1;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav > * {
    margin-left: 2rem;
    font-size: 1.8rem;
}

.active {
    opacity: 1;
}
